body {
	margin: auto;
	margin-top: 0;
	margin-bottom: 0;
	--font: sans-serif;
	font-family: var(--font);
	font-size: 18px;
	max-width: 12in;
	color: #11242E;

	min-height: 100vh;
}

section {
	position: relative;
	padding: 1px 0.25in;
	margin: 1em;
	background: rgba(255, 255, 255, 0.9);
}

section,
.shadow {
	box-shadow: 1px 10px 20px 5px rgba(0, 0, 0, 0.0525);
	border-radius: 2px;
}

section::after {
	position: absolute;
	display: block;
	top: 4px;
	bottom: 4px;
	right: 5px;
	width: 14px;
	content: " ";
	background-image: url('patch.png');
	opacity: 0.0625;
}

details h1,
details h2,
details h3 {
	display: inline-block;
}


table {
	margin: 1em 0;
}

html,
body {
	text-size-adjust: none;
}

@font-face {
	font-family: zonai;
	src: url(Zonai-Regular.ttf);
}

.zonai-fade .zonai {
	opacity: 0.18;
	user-select: none;
}

.zonai-fade {
	background: rgba(220, 220, 220, 0.5);
}

.zonai {
	font-family: zonai;
	text-align: center;
}

.romaji {
	position: relative;
	padding: 0.5em;
	font-family: var(--font);
	background: #EEE;
}

html {
	background: linear-gradient(to bottom, #93C7F6, #E3F4EE, #FFD974, #F6CA36, #E2C10D, #D2B10A, #735128, #1F1008)
}

h1,
h2,
h3,
h4,
h5 {
	font-variant: small-caps;
}

small {
	font-size: 50%;
}

table {
	border-collapse: collapse;
}

table {
	--border-color: rgba(0, 0, 0, 0.25);
}

table {
	border-top: 1px solid var(--border-color);
	border-left: 1px solid var(--border-color);
}

td,
th {
	border-right: 1px solid var(--border-color);
	border-bottom: 1px solid var(--border-color);
	padding: 0.25em;
}

.square-cell-1-65 {
	table-layout: fixed;
}

.square-cell-1-5 td,
.square-cell-1-5 th {
	width: 1.5rem;
	height: 1.5rem;
	overflow: hidden;
	text-overflow: clip;
}

td.zonai {
	text-align: center;
}

.section-box,
.sample-box {
	box-shadow: 0 0 3px 0px rgba(0, 0, 0, 0.25);
	margin: 0.5em;
	padding: 0.5em;
	vertical-align: middle;
}

.sample-box {
	display: inline-block;
	text-align: center;
}

.sample-box .label {
	display: block;
	font-variant: small-caps;
	font-size: 10px;
}

li.inline {
	display: inline-block;
	padding-left: 1.5em;
}

li.inline::before {
	padding-left: 1em;
	content: "•";
}

.sample-box .table-wrapper {
	display: inline-block;
}

*[data-sample-mode="linear"] .mode-presented {
	display: none;
}

*[data-sample-mode="presented"] .mode-linear {
	display: none;
}

.center {
	left: 50%;
	top: 50%;
}

.radial {
	transform: translate(-50%, -50%) rotate(var(--radial-angle)) translateY(calc(-1 * var(--radial-radius)));
}

.rejected {
	background: #EAA;
	border-color: #A44;
}

.exemplar {
	background: #F0FAFF;
}

blockquote {
	background: #ABC;
	color: #222;
	padding: 1em 1.5em;
}

.bigrams.flex-table {
	height: 200vh;
}

.center-label {
	display: block;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.bigrams.flex-table .flex-cell {
	box-shadow: inset 0 0 1px 1px black;
}

.heatmap td {
	background-color: color-mix(in lab, #22AACC calc(100% * var(--table-shade)), white);
}

hr {
	border: none;
	height: 1px;
	background: rgba(8, 16, 32, 0.5);
}

input,
textarea {
	font-size: 1em;
	font-family: sans-serif;
}

textarea {
	resize: vertical;
	min-height: 6em;
}
